#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    color: lightslategray;
}
#header{
    background-color: #a4c2ee;
}
#nav a {
    text-align: center;
    background-color:#87ac7c ;
}
#hero-msg h1, h4{
    text-align: center;
}
#button-box{
    text-align: center;
}
#main section {
    text-align: center;
}
#background{
    height:725px

}
#body{
    background-color:#2b9b0973 ;
}
#msg{
    background-color: rgb(53, 89, 143);
}
#nav a :hover{
    background-color: rgb(82, 95, 97);
    color: black;
}
#book{
    background-color: darkblue;
}
#join{
    background-color: white;

}
#logo{
    width: 80px;
}
#hero-img{
    width :100%
}